* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(206,212,197);
    background: linear-gradient(0deg, rgba(206,212,197,1) 85%, rgba(36,144,106,1) 85%);
    padding: 30px 0;
}

.container {
    height: 760px;
    width: 80%;
    margin: auto;
    background-color: white;
}

.clearfix {
    content: '';
    clear: both;
    display: table;
}

#left {
    float: left;
    height: 100%;
    width: 35%;
    background-color: red;
}

#right {
    float: left;
    height: 100%;
    width: 65%;
    background-color: blue;
}

#profile {
    height: 60px;
    width: 100%;
    background-color: whitesmoke;
    border-right: 1px solid #e4e4e4;
}

#advice {
    height: 70px;
    width: 100%;
    background-color: lightblue;
}

#search {
    height: 40px;
    width: 100%;
    background-color: whitesmoke;
}

#chats {
    height: calc(100% - 170px);
    width: 100%;
    background-color: yellow;
    overflow-y: scroll;
}

.single-chat {
    height: 60px;
    width: 100%;
    background-color: green;
    border-top: 1px solid #e4e4e4;
}

#top {
    height: 60px;
    width: 100%;
    background-color: whitesmoke;
}

#middle {
    height: calc(100% - 120px);
    width: 100%;
    background-image: url(https://wallpaperstock.net/whatsapp-background_wallpapers_51439_1280x1024.jpg);
    background-size: cover;
    overflow-y: scroll;
}

#bottom {
    height: 60px;
    width: 100%;
    background-color: whitesmoke;
}
