* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(206,212,197);
    background: linear-gradient(0deg, rgba(206,212,197,1) 85%, rgba(36,144,106,1) 85%);
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 760px;
    width: 80%;
    margin: auto;
    background-color: white;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

#left {
    float: left;
    height: 100%;
    width: 35%;
}

#right {
    float: left;
    height: 100%;
    width: 65%;
}

#profile {
    height: 60px;
    width: 100%;
    background-color: #DCDCDC;
    border-right: 0.1px solid grey;
    padding: 5px 10px;
}

#profile-left {
    float: left;
    width: 13%;
    height: 100%;
}

#me {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: white;
}

#me img {
    height: 50px;
}

#profile-right {
    float: right;
    width: 25%;
    height: 100%;
    padding: 15px 5px;
}

#profile-right i {
    font-size: 20px;
    color: grey;
    margin-right: 10px;
}

#advice {
    height: 70px;
    width: 100%;
    background-color: lightblue;
}

#search {
    height: 40px;
    width: 100%;
    background-color: whitesmoke;
    padding: 5px 5px;
}

#search-icon {
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    background-color: white;
    color: grey;
    padding: 6px 0;
}

#search-bar {
    float: left;
    width: 80%;
}

#search-bar input {
    width: 100%;
    height: 30px;
    border: none;
    border-left: 1px solid #e4e4e4;
    padding-left: 10px;
}

#chats {
    height: calc(100% - 170px);
    width: 100%;
    overflow-y: scroll;
}

.single-chat {
    height: 60px;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    cursor: pointer;
}

.chats-left {
    float: left;
    margin-left: 20px;
    width: 15%;
    height: 100%;
    padding-top: 5px;
}

.image {
    width: 80%;
    height: 90%;
    background-color: #e4e4e4;
    border-radius: 50%;
    object-fit: contain;
    text-align: center;
}

.image img {
    margin-top: 5px;
    height: 40px;
    width: 40px;
}

.chats-middle {
    float: left;
    width: 70%;
    height: 100%;
    color: black;
    padding: 10px 15px;;
}

.name {

}

.text {
    font-size: 13px;
    opacity: 0.5;
    margin-top: 2px;
}

.chats-right {
    float: right;
    width: 10%;
    height: 100%;
}

.time {
    font-size: 12px;
    opacity: 0.5;
    margin-top: 15px;
}

#top {
    height: 60px;
    width: 100%;
    background-color: #DCDCDC;
}

#top-left {
    float: left;
    width: 40%;
    height: 100%;
}

#profile-chat {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    padding-top: 5px;
    float: left;
}

#image-profile-chat {
    height: 40px;
    width: 40px;
}

#access-chat {
    float: left;
    padding: 10px 0;
    margin-left: 10px;
}

.access-name {

}

.access-time {
    font-size: 13px;
    opacity: 0.7;
}

#top-right {
    float: right;
    width: 15%;
    height: 100%;
    text-align: center;
    padding: 20px 0;
}

#top-right i {
    font-size: 20px;
    color: grey;
    margin-right: 10px;
}

#middle {
    height: 640px;
    width: 100%;
    background-image: url(https://wallpaperstock.net/whatsapp-background_wallpapers_51439_1280x1024.jpg);
    background-size: cover;
    overflow-y: scroll;
    /* padding: 10px 0; */
}

.messages-container {
    width: 75%;
    height: 640px;
    margin: auto;
    display: none;
}

.m-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0;
}

.messages-container.active {
    display: block;
}

.message {
    background-color: white;
    padding: 10px 30px 10px 10px;
    border-radius: 5%;
    margin-bottom: 5px;
    position: relative;
}

.sent {
    background-color: lightgreen;
    align-self: flex-end;
}

.time-message {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10px;
    width: 25px;
}

.time-message p {
    font-size: 10px;
    opacity: 0.6;
}

#bottom {
    height: 60px;
    width: 100%;
    background-color: #DCDCDC;
}

.bottom-aside {
    float: left;
    width: 10%;
    height: 100%;
    color: grey;
    text-align: center;
    font-size: 25px;
    padding: 15px;
}
#bottom-center {
    float: left;
    width: 80%;
    height: 100%;
    padding: 10px 0;
}

#bottom-center input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.template {
    display: none;
}
